.hmds {
  font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
  letter-spacing: .06em;
  line-height: 1.5;
  overflow: hidden;
  
  &:hover {
    color:yellow;
    -webkit-filter: blur(5px);

    .hmd_info {
    	background-color:rgba(0, 0, 0, 0.5);
			color: white;
			display: block;
    }
  }
}

.hmds th {
  padding: 12px;
}

.hmds td {
  padding: 12px;
}
.hmd_info {
	display: none;
}